@tailwind base;
@tailwind utilities;

* {
    font-family: "Proxima Nova",
        -apple-system,
        "Helvetica Neue",
        Helvetica,
        Roboto,
        Arial,
        sans-serif;
    font-weight: 400;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.navigation {
    font-family: navigation;
}

a {
    color: #3483fa
}