@tailwind base;
@tailwind utilities;

* {
    font-family: "Proxima Nova",
        -apple-system,
        "Helvetica Neue",
        Helvetica,
        Roboto,
        Arial,
        sans-serif;
    font-weight: 400;
}

.navigation {
    font-family: navigation;
}